<lable id="title"></lable><br>
<lable >A = {</lable>
<input type="text" class="input-set-calculator-field" id="set-calculator-input-a" autofocus autocomplete="off"/>
<lable >}</lable><br>
<lable >B = {</lable>
<input type="text" class="input-set-calculator-field" id="set-calculator-input-b" autocomplete="off"/>
<lable >}</lable><br>
<div id="input-error" class="error"> </div>
<button type="button" id="button-intersection"></button>
<button type="button" id="button-combination"></button>
<button type="button" id="button-descartes-multiplication"></button>
<button type="button" id="button-a-b-difference"></button>
<button type="button" id="button-b-a-difference"></button>
<button type="button" id="button-symmetric-diff"></button>
<button type="button" id="button-a-power"></button>
<button type="button" id="button-b-power"></button>
